In [169]:
import pandas as pd
pd.set_option('display.max_columns', None)

import requests
import json
import prettytable
import geopandas as gpd
import fiona

In [334]:
blsSeries = pd.read_excel('../msaBlsSeries.xlsx')
msa = gpd.read_file('../../../data/spatial/msa/usMsaCentroids.geojson')

In [335]:
months = {'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7, 'August':8,
          'September':9,'October':10,'November':11,'December':12}

In [336]:
uRateList = blsSeries['unemploymentRateSeries'].tolist()
lfList = blsSeries['laborForceSeries'].tolist()

In [337]:
url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/?registrationkey=6aff0b6bece9458d9ecfb4cd10a3a375'

frames = []
items = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
start = 0
end = 50

for item in items:
    seriesId = []
    year = []
    month = []
    value = []

    print(item, start, end)
    chunk = uRateList[start:end]
    areas = ','.join(chunk)
    response = requests.post(url, data = {"seriesid":areas,"startyear":"2018","endyear":"2020"})
    
    json_data = json.loads(response.text)
    
    for series in json_data['Results']['series']:
        sid = series['seriesID']
        for item in series['data']:
            seriesId.append( sid )
            year.append( item['year'] )
            month.append ( item['periodName'] )
            value.append( item['value'] )
        
    df = pd.DataFrame({'seriesId':seriesId,'month':month,'year':year,'value':value})
    
    frames.append(df)
    
    start += 50
    end += 50

1 0 50
2 50 100
3 100 150
4 150 200
5 200 250
6 250 300
7 300 350
8 350 400
9 400 450
10 450 500
11 500 550
12 550 600
13 600 650
14 650 700
15 700 750
16 750 800
17 800 850
18 850 900
19 900 950
20 950 1000

In [338]:
uRateData = pd.concat( frames )

In [339]:
uRateData['seriesId'].nunique()

908

In [340]:
uRate = blsSeries[['MSA','unemploymentRateSeries']]
uRateData = pd.merge(uRateData,uRate,how='left',left_on='seriesId',right_on='unemploymentRateSeries')
uRateData['Day'] = 1
uRateData['Month'] = uRateData.month.map(months)
uRateData['date'] = pd.to_datetime(uRateData[['Month','Day','year']])
uRateData.sort_values(['seriesId','date'], inplace=True)
uRateData['Month'] = uRateData['month'].str[:3]
uRateData['value'] = uRateData['value'].astype(float)

# Repeat that process but with the total labor force

In [341]:
url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/?registrationkey=6aff0b6bece9458d9ecfb4cd10a3a375'

frames = []
items = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
start = 0
end = 50

for item in items:
    seriesId = []
    year = []
    month = []
    value = []

    print(item, start, end)
    chunk = lfList[start:end]
    areas = ','.join(chunk)
    response = requests.post(url, data = {"seriesid":areas,"startyear":"2018","endyear":"2020"})
    
    json_data = json.loads(response.text)
    
    for series in json_data['Results']['series']:
        sid = series['seriesID']
        for item in series['data']:
            seriesId.append( sid )
            year.append( item['year'] )
            month.append ( item['periodName'] )
            value.append( item['value'] )
        
    df = pd.DataFrame({'seriesId':seriesId,'month':month,'year':year,'value':value})
    
    frames.append(df)
    
    start += 50
    end += 50

1 0 50
2 50 100
3 100 150
4 150 200
5 200 250
6 250 300
7 300 350
8 350 400
9 400 450
10 450 500
11 500 550
12 550 600
13 600 650
14 650 700
15 700 750
16 750 800
17 800 850
18 850 900
19 900 950
20 950 1000

In [342]:
lfData = pd.concat( frames )
lfData['seriesId'].nunique()

908

In [343]:
lfSeries = blsSeries[['MSA','laborForceSeries']]
lfData = pd.merge(lfData,lfSeries,how='left',left_on='seriesId',right_on='laborForceSeries')
lfData['Day'] = 1
lfData['Month'] = lfData.month.map(months)
lfData['date'] = pd.to_datetime(lfData[['Month','Day','year']])
lfData.sort_values(['seriesId','date'], inplace=True)
lfData['Month'] = lfData['month'].str[:3]
lfData['value'] = lfData['value'].astype(float)

In [344]:
uRateCurr = uRateData.loc[(uRateData['month'] == 'October') & (uRateData['year'] == '2020')]
uRateLast = uRateData.loc[(uRateData['month'] == 'October') & (uRateData['year'] == '2019')]

uRateCurr = uRateCurr[['MSA','seriesId','value']]
uRateCurr.rename(columns={'value':'October_2020_URate'}, inplace=True)

uRateLast = uRateLast[['seriesId','value']]
uRateLast.rename(columns={'value':'October_2019_URate'}, inplace=True)

uRateSum = pd.merge(uRateCurr, uRateLast, how='left', on='seriesId')
uRateSum['geoid'] = uRateSum['seriesId'].str[5:12]

In [345]:
lfCurr = lfData.loc[(lfData['month'] == 'October') & (lfData['year'] == '2020')]
lfLast = lfData.loc[(lfData['month'] == 'October') & (lfData['year'] == '2019')]

lfCurr = lfCurr[['MSA','seriesId','value']]
lfCurr.rename(columns={'value':'October_2020_LaborForce'}, inplace=True)

lfLast = lfLast[['seriesId','value']]
lfLast.rename(columns={'value':'October_2019_LaborForce'}, inplace=True)

lfSum = pd.merge(lfCurr, lfLast, how='left', on='seriesId')
lfSum['geoid'] = lfSum['seriesId'].str[5:12]

In [346]:
msa['state'] = msa['area'].str[-2:]

In [347]:
msa = pd.merge(msa,lfSum,how='left',on='geoid')

In [348]:
del msa['seriesId']
msa = pd.merge(msa,uRateSum,how='left',on='geoid')
del msa['seriesId']

In [349]:
msa = msa[['geoid','cbsa','area','state','October_2020_LaborForce','October_2020_URate','geometry']]

In [350]:
crs = {'init': 'epsg:4326'}
msa = gpd.GeoDataFrame(msa, crs=crs, geometry=msa['geometry'])

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [351]:
nulls = msa[msa['October_2020_URate'].isnull()]

In [352]:
nulls.to_excel('deleteNulls.xlsx', index=False)

In [353]:
msa['October_2020_LaborForce'].fillna(0, inplace=True)
msa['October_2020_LaborForce'] = msa['October_2020_LaborForce'].astype(int)

In [354]:
msa.to_file('../../../data/spatial/msa/usMsaData.geojson', driver="GeoJSON")

In [ ]:
# summarize to get latest and previous year

In [410]:
# write files

msaList = pd.read_excel('../msaBlsSeries.xlsx', sheet_name="msaList")
series = pd.read_excel('../msaBlsSeries.xlsx', sheet_name="blsSeries")

In [411]:
msaList.head()

   geoid                          MSA                   CBSA Title STATE
0  10180                  Abilene, TX                  Abilene, TX    TX
1  10420                    Akron, OH                    Akron, OH    OH
2  10580  Albany-Schenectady-Troy, NY  Albany-Schenectady-Troy, NY    NY
3  10500                   Albany, GA                   Albany, GA    GA
4  10540           Albany-Lebanon, OR           Albany-Lebanon, OR    OR

In [406]:
cbsa.rename(columns={'CBSA Code':'geoid'}, inplace=True)
cbsa = cbsa[['geoid','CBSA Title']]

In [407]:
cbsa.drop_duplicates(subset='geoid', inplace=True)

In [408]:
msaList = pd.merge(msaList,cbsa,how='left',left_on='MSA',right_on='CBSA Title')

In [409]:
msaList.to_excel('deteleMsaList.xlsx', index=False)