In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import requests
import json
import prettytable
import geopandas as gpd
import fiona

In [68]:
msaData = pd.read_excel('../data.xlsx', sheet_name="msaData")
msaData = msaData.set_index(['msa'])
msaData = msaData.loc[msaData.index.isin(['Albany-Lebanon, OR','Anniston-Oxford, AL','Austin-Round Rock-Georgetown, TX'])]
msaData.reset_index(inplace=True)

In [77]:
msaShape = gpd.read_file('../../../data/spatial/msa/usMsaData.geojson')

In [70]:
# msaShape = msaShape[['cbsa','geoid','msa','STATE','December_2020_LaborForce','December_2020_URate',
#              'NUMBER_AIRPORTS','AIRPORT','CODE','NS_DOMESTIC','NS_INTERNATIONAL','NS_TOTAL','geometry']]

In [71]:
msaData = pd.merge(msaData, msaShape, how='left', on=['msa','STATE'])

In [73]:
msaData.shape

(3, 77)

In [78]:
msaShape.shape

(381, 77)

In [75]:
msaData = msaData[['cbsa', 'geoid', 'msa', 'STATE', 'December_2020_LaborForce',
       'December_2020_URate', 'NUMBER_AIRPORTS', 'AIRPORT', 'CODE',
       'NS_DOMESTIC', 'NS_INTERNATIONAL', 'NS_TOTAL', 'Avg. Local Sales Tax',
       'State Sales Tax', 'Total Sales Tax', 'Property Tax per Capita',
       'Property Tax Rank', 'Property Tax Throw Back', 'Taxable Wages Rate',
       'New Employers Rate', 'Taxable Wage Base', 'Payroll Tax Notes',
       'Individual Tax Rate', 'Individual Tax Brackets',
       'Graduated Individual Tax', 'Franchise Tax Rate', 'Corporate Tax Rate',
       'Corporate Tax Brackets', 'Graduated Corporate Tax', 'STATE_CODB',
       'Fortune 500', 'Fortune 1000', 'HOUSING_PERMITS1', 'HOUSING_PERMITS2',
       'PERMIT_CHANGE', 'SCORE', 'TOTPOP_CY', 'TOTPOP_FY', 'POP_ANNUAL_GROWTH',
       'MEDAGE_CY', 'MEDHHINC_CY', 'HOME_VALUE', 'COLLEGE_DEGREE', 'DIV_INDEX',
       'URBAN_AREA', 'COMP_INDEX', 'GROCERY', 'HOUSING', 'UTILITIES',
       'TRANSPORTATION', 'HEALTH_CARE', 'MISC', 'APT_RENT',
       'PHYSICAL_SCIENCES_ENROLLMENT', 'BIO_LIFE_ENROLLMENT',
       'BUSINESS_MGMT_ENROLLMENT', 'EDUCATION_ENROLLMENT',
       'ENGINEERING_ENROLLMENT', 'LAW_ENROLLMENT', 'MEDICINE_ENROLLMENT',
       'ENROLLMENT', 'COMPLETIONS', 'NUMBER_OF_COLLEGES', 'MSA_CODB',
       'UNIT_LABOR_COST', 'ENERGY_COST', 'STATE_LOCAL_TAX', 'OFFICE_RENT',
       'JAN_RAIN', 'JAN_SNOW', 'JAN_TEMP_MAX', 'JAN_TEMP_MIN', 'JULY_RAIN',
       'JULY_SNOW', 'JULY_TEMP_MAX', 'JULY_TEMP_MIN', 'geometry']]

In [76]:
msaData.head()

,cbsa,geoid,msa,STATE,December_2020_LaborForce,December_2020_URate,NUMBER_AIRPORTS,AIRPORT,CODE,NS_DOMESTIC,NS_INTERNATIONAL,NS_TOTAL,Avg. Local Sales Tax,State Sales Tax,Total Sales Tax,Property Tax per Capita,Property Tax Rank,Property Tax Throw Back,Taxable Wages Rate,New Employers Rate,Taxable Wage Base,Payroll Tax Notes,Individual Tax Rate,Individual Tax Brackets,Graduated Individual Tax,Franchise Tax Rate,Corporate Tax Rate,Corporate Tax Brackets,Graduated Corporate Tax,STATE_CODB,Fortune 500,Fortune 1000,HOUSING_PERMITS1,HOUSING_PERMITS2,PERMIT_CHANGE,SCORE,TOTPOP_CY,TOTPOP_FY,POP_ANNUAL_GROWTH,MEDAGE_CY,MEDHHINC_CY,HOME_VALUE,COLLEGE_DEGREE,DIV_INDEX,URBAN_AREA,COMP_INDEX,GROCERY,HOUSING,UTILITIES,TRANSPORTATION,HEALTH_CARE,MISC,APT_RENT,PHYSICAL_SCIENCES_ENROLLMENT,BIO_LIFE_ENROLLMENT,BUSINESS_MGMT_ENROLLMENT,EDUCATION_ENROLLMENT,ENGINEERING_ENROLLMENT,LAW_ENROLLMENT,MEDICINE_ENROLLMENT,ENROLLMENT,COMPLETIONS,NUMBER_OF_COLLEGES,MSA_CODB,UNIT_LABOR_COST,ENERGY_COST,STATE_LOCAL_TAX,OFFICE_RENT,JAN_RAIN,JAN_SNOW,JAN_TEMP_MAX,JAN_TEMP_MIN,JULY_RAIN,JULY_SNOW,JULY_TEMP_MAX,JULY_TEMP_MIN,geometry
0,10540,4110540,"Albany-Lebanon, OR",OR,60096.0,6.0,0,None,None,0,0,0,0.00,0.00,0.00,1487.0,27.0,Yes,0.70 - 5.40%,2.1,42100,Includes special payroll tax offset: 0.09%,9.9,4,Yes,No entity-level tax measured by net worth/capi...,7.6,2,Yes,102,0,0,446.0,384.0,-0.139,NaN,131026.0,138123.0,1.06,41.0,55420.0,269787.0,0.209,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91,103,96,92,58,9.7,11.2,42.0,30.0,0.9,0.0,81.0,49.0,POINT (-18.17322 8.41703)
1,11500,0111500,"Anniston-Oxford, AL",AL,44289.0,4.4,0,None,None,0,0,0,5.22,4.00,9.22,582.0,50.0,Yes,0.65 - 6.80%,2.7,8000,Includes 0.06% employment security assessment,5.0,3,Yes,"""Business privilege tax imposed at following g...",6.5,1,No,100,0,0,66.0,72.0,0.091,NaN,116592.0,115051.0,-0.27,40.0,48593.0,124618.0,0.187,46.5,Anniston-Calhoun County AL,83.4,87.4,59.4,126.6,87.5,81.5,88.5,669.0,70.0,446.0,991.0,1025.0,0.0,0.0,0.0,NaN,NaN,NaN,96,109,106,67,62,4.5,0.7,54.0,33.0,4.6,0.0,90.0,70.0,POINT (8.84361 -4.52126)
2,12420,4812420,"Austin-Round Rock-Georgetown, TX",TX,1267150.0,5.1,0,Austin,AUS,55,8,63,1.94,6.25,8.19,1872.0,13.0,NaN,0.31 - 6.31%,2.7,9000,NaN,0.0,1,No,"Revised franchise tax, otherwise known as marg...",0.0,1,No,92,1,2,17030.0,18145.0,0.065,100.0,2296794.0,2610839.0,2.60,34.0,78659.0,293890.0,0.455,73.6,Austin TX,101.8,92.2,109.8,95.0,89.6,108.6,103.2,1530.0,2553.0,7487.0,13958.0,3174.0,8485.0,1069.0,0.0,176444.0,30450.0,25.0,100,91,99,80,126,2.3,0.2,61.0,38.0,2.1,0.0,95.0,72.0,POINT (-0.96286 -8.45697)

In [91]:
data = pd.concat( [msaShape, msaData] ).reset_index( drop=True )

In [92]:
data.drop_duplicates(subset=['cbsa','geoid','msa','STATE'], keep='last', inplace=True)
data.sort_values( 'msa', inplace=True)

In [144]:
data = gpd.read_file('../../../data/spatial/msa/usMsaData.geojson')

In [145]:
bls = pd.read_excel( '../msaBlsSum.xlsx', usecols="A,E,F", converters={'cbsa':str,'geoid':str})

In [146]:
bls.shape

(381, 3)

In [147]:
data.shape

(381, 77)

In [148]:
data = data[['cbsa', 'geoid', 'msa', 'STATE','NUMBER_AIRPORTS', 'AIRPORT', 'CODE',
       'NS_DOMESTIC', 'NS_INTERNATIONAL', 'NS_TOTAL', 'Avg. Local Sales Tax',
       'State Sales Tax', 'Total Sales Tax', 'Property Tax per Capita',
       'Property Tax Rank', 'Property Tax Throw Back', 'Taxable Wages Rate',
       'New Employers Rate', 'Taxable Wage Base', 'Payroll Tax Notes',
       'Individual Tax Rate', 'Individual Tax Brackets',
       'Graduated Individual Tax', 'Franchise Tax Rate', 'Corporate Tax Rate',
       'Corporate Tax Brackets', 'Graduated Corporate Tax', 'STATE_CODB',
       'Fortune 500', 'Fortune 1000', 'HOUSING_PERMITS1', 'HOUSING_PERMITS2',
       'PERMIT_CHANGE', 'SCORE', 'TOTPOP_CY', 'TOTPOP_FY', 'POP_ANNUAL_GROWTH',
       'MEDAGE_CY', 'MEDHHINC_CY', 'HOME_VALUE', 'COLLEGE_DEGREE', 'DIV_INDEX',
       'URBAN_AREA', 'COMP_INDEX', 'GROCERY', 'HOUSING', 'UTILITIES',
       'TRANSPORTATION', 'HEALTH_CARE', 'MISC', 'APT_RENT',
       'PHYSICAL_SCIENCES_ENROLLMENT', 'BIO_LIFE_ENROLLMENT',
       'BUSINESS_MGMT_ENROLLMENT', 'EDUCATION_ENROLLMENT',
       'ENGINEERING_ENROLLMENT', 'LAW_ENROLLMENT', 'MEDICINE_ENROLLMENT',
       'ENROLLMENT', 'COMPLETIONS', 'NUMBER_OF_COLLEGES', 'MSA_CODB',
       'UNIT_LABOR_COST', 'ENERGY_COST', 'STATE_LOCAL_TAX', 'OFFICE_RENT',
       'JAN_RAIN', 'JAN_SNOW', 'JAN_TEMP_MAX', 'JAN_TEMP_MIN', 'JULY_RAIN',
       'JULY_SNOW', 'JULY_TEMP_MAX', 'JULY_TEMP_MIN', 'geometry']]

In [149]:
data.columns

Index(['cbsa', 'geoid', 'msa', 'STATE', 'NUMBER_AIRPORTS', 'AIRPORT', 'CODE',
       'NS_DOMESTIC', 'NS_INTERNATIONAL', 'NS_TOTAL', 'Avg. Local Sales Tax',
       'State Sales Tax', 'Total Sales Tax', 'Property Tax per Capita',
       'Property Tax Rank', 'Property Tax Throw Back', 'Taxable Wages Rate',
       'New Employers Rate', 'Taxable Wage Base', 'Payroll Tax Notes',
       'Individual Tax Rate', 'Individual Tax Brackets',
       'Graduated Individual Tax', 'Franchise Tax Rate', 'Corporate Tax Rate',
       'Corporate Tax Brackets', 'Graduated Corporate Tax', 'STATE_CODB',
       'Fortune 500', 'Fortune 1000', 'HOUSING_PERMITS1', 'HOUSING_PERMITS2',
       'PERMIT_CHANGE', 'SCORE', 'TOTPOP_CY', 'TOTPOP_FY', 'POP_ANNUAL_GROWTH',
       'MEDAGE_CY', 'MEDHHINC_CY', 'HOME_VALUE', 'COLLEGE_DEGREE', 'DIV_INDEX',
       'URBAN_AREA', 'COMP_INDEX', 'GROCERY', 'HOUSING', 'UTILITIES',
       'TRANSPORTATION', 'HEALTH_CARE', 'MISC', 'APT_RENT',
       'PHYSICAL_SCIENCES_ENROLLMENT', 'BIO_LIFE_ENROLLMENT',
       'BUSINESS_MGMT_ENROLLMENT', 'EDUCATION_ENROLLMENT',
       'ENGINEERING_ENROLLMENT', 'LAW_ENROLLMENT', 'MEDICINE_ENROLLMENT',
       'ENROLLMENT', 'COMPLETIONS', 'NUMBER_OF_COLLEGES', 'MSA_CODB',
       'UNIT_LABOR_COST', 'ENERGY_COST', 'STATE_LOCAL_TAX', 'OFFICE_RENT',
       'JAN_RAIN', 'JAN_SNOW', 'JAN_TEMP_MAX', 'JAN_TEMP_MIN', 'JULY_RAIN',
       'JULY_SNOW', 'JULY_TEMP_MAX', 'JULY_TEMP_MIN', 'geometry'],
      dtype='object')

In [150]:
data = pd.merge(data, bls, how='left', on='cbsa')

In [151]:
data = data[['cbsa', 'geoid', 'msa', 'STATE', 'January_2021_LaborForce',
       'January_2021_URate', 'NUMBER_AIRPORTS', 'AIRPORT', 'CODE',
       'NS_DOMESTIC', 'NS_INTERNATIONAL', 'NS_TOTAL', 'Avg. Local Sales Tax',
       'State Sales Tax', 'Total Sales Tax', 'Property Tax per Capita',
       'Property Tax Rank', 'Property Tax Throw Back', 'Taxable Wages Rate',
       'New Employers Rate', 'Taxable Wage Base', 'Payroll Tax Notes',
       'Individual Tax Rate', 'Individual Tax Brackets',
       'Graduated Individual Tax', 'Franchise Tax Rate', 'Corporate Tax Rate',
       'Corporate Tax Brackets', 'Graduated Corporate Tax', 'STATE_CODB',
       'Fortune 500', 'Fortune 1000', 'HOUSING_PERMITS1', 'HOUSING_PERMITS2',
       'PERMIT_CHANGE', 'SCORE', 'TOTPOP_CY', 'TOTPOP_FY', 'POP_ANNUAL_GROWTH',
       'MEDAGE_CY', 'MEDHHINC_CY', 'HOME_VALUE', 'COLLEGE_DEGREE', 'DIV_INDEX',
       'URBAN_AREA', 'COMP_INDEX', 'GROCERY', 'HOUSING', 'UTILITIES',
       'TRANSPORTATION', 'HEALTH_CARE', 'MISC', 'APT_RENT',
       'PHYSICAL_SCIENCES_ENROLLMENT', 'BIO_LIFE_ENROLLMENT',
       'BUSINESS_MGMT_ENROLLMENT', 'EDUCATION_ENROLLMENT',
       'ENGINEERING_ENROLLMENT', 'LAW_ENROLLMENT', 'MEDICINE_ENROLLMENT',
       'ENROLLMENT', 'COMPLETIONS', 'NUMBER_OF_COLLEGES', 'MSA_CODB',
       'UNIT_LABOR_COST', 'ENERGY_COST', 'STATE_LOCAL_TAX', 'OFFICE_RENT',
       'JAN_RAIN', 'JAN_SNOW', 'JAN_TEMP_MAX', 'JAN_TEMP_MIN', 'JULY_RAIN',
       'JULY_SNOW', 'JULY_TEMP_MAX', 'JULY_TEMP_MIN', 'geometry']]

In [152]:
crs = {'init': 'epsg:4326'}
data = gpd.GeoDataFrame(data, crs=crs, geometry=data['geometry'])

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [143]:
data.to_csv('deleteMe.csv', index=False)

In [158]:
data.to_file('../../../data/spatial/msa/usMsaData.geojson', driver="GeoJSON")

In [175]:
# get the right property tax throwback values - "NA" is acceptable; cannot read unknown
app = pd.read_excel('../data.xlsx', sheet_name="corporateApportionment")
# get the column for corporate income apportionment - "single factor sales"
data = gpd.read_file('../../../data/spatial/msa/usMsaData.geojson')

In [166]:
data.shape

(381, 78)

In [165]:
data = pd.merge( data, app, how='left', on='STATE')

In [167]:
data = data[['cbsa', 'geoid', 'msa', 'STATE', 'January_2021_LaborForce',
       'January_2021_URate', 'NUMBER_AIRPORTS', 'AIRPORT', 'CODE',
       'NS_DOMESTIC', 'NS_INTERNATIONAL', 'NS_TOTAL', 'Avg. Local Sales Tax',
       'State Sales Tax', 'Total Sales Tax', 'Property Tax per Capita',
       'Property Tax Rank', 'Property Tax Throw Back', 'Taxable Wages Rate',
       'New Employers Rate', 'Taxable Wage Base', 'Payroll Tax Notes',
       'Individual Tax Rate', 'Individual Tax Brackets',
       'Graduated Individual Tax', 'Franchise Tax Rate', 'Corporate Tax Rate','APPORTIONMENT',
       'Corporate Tax Brackets', 'Graduated Corporate Tax', 'STATE_CODB',
       'Fortune 500', 'Fortune 1000', 'HOUSING_PERMITS1', 'HOUSING_PERMITS2',
       'PERMIT_CHANGE', 'SCORE', 'TOTPOP_CY', 'TOTPOP_FY', 'POP_ANNUAL_GROWTH',
       'MEDAGE_CY', 'MEDHHINC_CY', 'HOME_VALUE', 'COLLEGE_DEGREE', 'DIV_INDEX',
       'URBAN_AREA', 'COMP_INDEX', 'GROCERY', 'HOUSING', 'UTILITIES',
       'TRANSPORTATION', 'HEALTH_CARE', 'MISC', 'APT_RENT',
       'PHYSICAL_SCIENCES_ENROLLMENT', 'BIO_LIFE_ENROLLMENT',
       'BUSINESS_MGMT_ENROLLMENT', 'EDUCATION_ENROLLMENT',
       'ENGINEERING_ENROLLMENT', 'LAW_ENROLLMENT', 'MEDICINE_ENROLLMENT',
       'ENROLLMENT', 'COMPLETIONS', 'NUMBER_OF_COLLEGES', 'MSA_CODB',
       'UNIT_LABOR_COST', 'ENERGY_COST', 'STATE_LOCAL_TAX', 'OFFICE_RENT',
       'JAN_RAIN', 'JAN_SNOW', 'JAN_TEMP_MAX', 'JAN_TEMP_MIN', 'JULY_RAIN',
       'JULY_SNOW', 'JULY_TEMP_MAX', 'JULY_TEMP_MIN', 'geometry']]

In [168]:
crs = {'init': 'epsg:4326'}
data = gpd.GeoDataFrame(data, crs=crs, geometry=data['geometry'])

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [176]:
data['Property Tax Throw Back'].fillna('N/A', inplace=True)

In [179]:
data.to_file('../../../data/spatial/msa/usMsaData.geojson', driver="GeoJSON")

In [177]:
data.tail(20)

,cbsa,geoid,msa,STATE,January_2021_LaborForce,January_2021_URate,NUMBER_AIRPORTS,AIRPORT,CODE,NS_DOMESTIC,NS_INTERNATIONAL,NS_TOTAL,Avg. Local Sales Tax,State Sales Tax,Total Sales Tax,Property Tax per Capita,Property Tax Rank,Property Tax Throw Back,Taxable Wages Rate,New Employers Rate,Taxable Wage Base,Payroll Tax Notes,Individual Tax Rate,Individual Tax Brackets,Graduated Individual Tax,Franchise Tax Rate,Corporate Tax Rate,APPORTIONMENT,Corporate Tax Brackets,Graduated Corporate Tax,STATE_CODB,Fortune 500,Fortune 1000,HOUSING_PERMITS1,HOUSING_PERMITS2,PERMIT_CHANGE,SCORE,TOTPOP_CY,TOTPOP_FY,POP_ANNUAL_GROWTH,MEDAGE_CY,MEDHHINC_CY,HOME_VALUE,COLLEGE_DEGREE,DIV_INDEX,URBAN_AREA,COMP_INDEX,GROCERY,HOUSING,UTILITIES,TRANSPORTATION,HEALTH_CARE,MISC,APT_RENT,PHYSICAL_SCIENCES_ENROLLMENT,BIO_LIFE_ENROLLMENT,BUSINESS_MGMT_ENROLLMENT,EDUCATION_ENROLLMENT,ENGINEERING_ENROLLMENT,LAW_ENROLLMENT,MEDICINE_ENROLLMENT,ENROLLMENT,COMPLETIONS,NUMBER_OF_COLLEGES,MSA_CODB,UNIT_LABOR_COST,ENERGY_COST,STATE_LOCAL_TAX,OFFICE_RENT,JAN_RAIN,JAN_SNOW,JAN_TEMP_MAX,JAN_TEMP_MIN,JULY_RAIN,JULY_SNOW,JULY_TEMP_MAX,JULY_TEMP_MIN,geometry
361,47580,1347580,"Warner Robins, GA",GA,87490,4.5,0,None,None,0,0,0,3.31,4.00,7.31,1161.0,33.0,No,0.04 - 7.56%,2.70,9500.0,Includes 0.06% administrative assessment excep...,5.75,6.0,Yes,Graduated tax from minimum of $125 to maximum ...,5.75,Single factor sales,1.0,No,94.0,0.0,0.0,895.0,996.0,0.113,NaN,188183.0,199908.0,1.22,36.0,56705.0,167359.0,0.280,62.6,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,240.0,263.0,305.0,0.0,0.0,0.0,15206.0,1186.0,2.0,82.0,89.0,87.0,80.0,59.0,4.6,0.1,57.0,34.0,4.3,0.0,91.0,70.0,POINT (10.74220 -5.59008)
362,47900,1147900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",DC,3303526,6.0,2,"Washington Dulles, Washington National",IAD/DCA,172,56,228,0.00,6.00,6.00,NaN,NaN,N/A,1.60 -7.00%,2.70,9000.0,Plus 0.2% administrative funding assessment,8.95,6.0,Yes,No entity-level tax measured by net worth/capi...,8.25,Single factor sales,10.0,Yes,106.0,17.0,31.0,13588.0,12528.0,-0.078,NaN,6298330.0,6627605.0,1.02,38.0,103891.0,432787.0,0.528,75.5,Washington-Arlington-Alexandria DC-VA,159.0,115.7,271.4,113.2,105.5,92.8,121.6,3033.0,2708.0,9263.0,68430.0,11632.0,11486.0,6689.0,1956.0,583551.0,95276.0,74.0,110.0,104.0,79.0,87.0,141.0,3.0,7.0,42.0,24.0,3.9,0.0,86.0,66.0,POINT (14.66352 1.48537)
363,47940,1947940,"Waterloo-Cedar Falls, IA",IA,83334,4.7,0,None,None,0,0,0,0.94,6.00,6.94,1632.0,17.0,No,0.013,0.00,30600.0,26,8.53,9.0,Yes,No entity-level tax measured by net worth/capi...,12.00,Single factor sales,4.0,Yes,91.0,0.0,0.0,261.0,96.0,-0.632,67.0,170793.0,172797.0,0.23,38.0,56308.0,156553.0,0.298,33.1,Waterloo-Cedar Falls IA,87.4,93.3,78.6,86.2,101.4,102.1,86.9,725.0,147.0,972.0,2404.0,2601.0,74.0,0.0,0.0,22590.0,4390.0,6.0,87.0,90.0,106.0,96.0,57.0,0.9,7.6,26.0,8.0,4.8,0.0,83.0,62.0,POINT (3.04697 3.91216)
364,48060,3648060,"Watertown-Fort Drum, NY",NY,43035,7.1,0,None,None,0,0,0,4.52,4.00,8.52,2902.0,4.0,No,0.60 - 7.90%,3.20,11600.0,"*2019, Includes 0.075% Re-employment Service F...",8.82,8.0,Yes,Capital value tax is part of overall franchise...,6.50,Single factor sales,1.0,No,98.0,0.0,0.0,138.0,129.0,-0.065,18.0,117481.0,114797.0,-0.46,35.0,52804.0,159294.0,0.240,39.1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4500.0,564.0,1.0,85.0,84.0,103.0,129.0,51.0,2.9,31.1,29.0,9.0,3.0,0.0,79.0,60.0,POINT (14.65636 6.81604)
365,48140,5548140,"Wausau, WI",WI,72490,3.5,0,None,None,0,0,0,0.46,5.00,5.46,1655.0,14.0,Yes,0.00- 12.00%,NaN,14000.0,Includes solvency surtax,7.65,4.0,Yes,No entity-level tax measured by net worth/capi...,7.90,Single factor sales,1.0,No,101.0,0.0,0.0,274.0,180.0,-0.343,NaN,164516.0,166003.0,0.18,42.0,61160.0,168073.0,0.248,22.4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,15.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,89.0,98.0,88.0,108.0,65.0,1.0,13.5,23.0,6.0,3.8,0.0,80.0,59.0,POINT (4.87017 6.53120)
366,48260,3948260,"Weirton-Steubenville, WV-OH",WV,49796,7.9,0,None,None,0,0,0,0.41,6.00,6.41,948.0,42.0,No,1.50 - 8.50%,2.70,12000.0,None,6.50,5.0,Yes,No entity-level tax measured by net worth/capi...,6.50,Three factors with sales double-weighted,1.0,No,94.0,0.0,0.0,24.0,0.0,-1.000,NaN,118487.0,114702.0,-0.65,47.0,44404.0,95784.0,0.184,16.3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,111.0,360.0,491.0,29.0,0.0,0.0,31007.0,1786.0,5.0,88.0,89.0,118.0,103.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (11.96190 2.62871)
367,48300,5348300,"Wenatchee, WA",WA,61593,7.0,0,None,None,0,0,0,2.71,6.50,9.21,1498.0,26.0,N/A,0.13 - 7.73%,NaN,52700.0,Includes employment administrative fund and so...,0.00,1.0,No,No entity-level tax measured by net worth/capi...,0.00,No state income tax,1.0,No,96.0,0.0,0.0,626.0,539.0,-0.139,NaN,124090.0,131156.0,1.11,39.0,55948.0,331411.0,0.263,66.7,Wenatchee WA,106.9,102.4,112.3,79.4,117.2,122.9,107.1,1106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5302.0,846.0,1.0,80.0,104.0,32.0,89.0,79.0,3.1,21.0,34.0,23.0,0.4,0.0,85.0,55.0,POINT (-15.77664 11.16464)
368,48540,3948540,"Wheeling, WV-OH",WV,61987,7.7,0,None,None,0,0,0,0.41,6.00,6.41,948.0,42.0,No,1.50 - 8.50%,2.70,12000.0,None,6.50,5.0,Yes,No entity-level tax measured by net worth/capi...,6.50,Three factors with sales double-weighted,1.0,No,94.0,0.0,0.0,9.0,1.0,-0.889,63.0,141970.0,137857.0,-0.59,46.0,49225.0,116772.0,0.227,14.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,266.0,741.0,815.0,40.0,0.0,0.0,10019.0,1288.0,5.0,87.0,100.0,86.0,101.0,53.0,3.0,8.0,37.0,21.0,4.2,0.0,84.0,63.0,POINT (11.92597 2.20087)
369,48660,4848660,"Wichita Falls, TX",TX,63985,6.9,0,None,None,0,0,0,1.94,6.25,8.19,1872.0,13.0,N/A,0.31 - 6.31%,2.70,9000.0,None,0.00,1.0,No,"Revised franchise tax, otherwise known as marg...",0.00,Single factor sales,1.0,No,92.0,0.0,0.0,117.0,12.0,-0.897,NaN,153399.0,152439.0,-0.13,37.0,49797.0,118919.0,0.235,58.3,Wichita Falls TX,89.3,89.7,82.1,109.0,86.9,97.2,89.3,808.0,96.0,242.0,851.0,226.0,273.0,0.0,0.0,7039.0,1474.0,1.0,88.0,96.0,99.0,80.0,59.0,1.4,1.1,55.0,29.0,1.8,0.0,97.0,72.0,POINT (-1.59191 -4.93848)
370,48620,2048620,"Wichita, KS",KS,321216,6.8,0,None,None,0,0,0,2.18,6.50,8.68,1552.0,23.0,Yes,0.00 - 7.10%,2.70,14000.0,Includes solvency adjustment rate,5.70,3.0,Yes,No entity-level tax measured by net worth/capi...,7.00,Three factors,2.0,Yes,99.0,1.0,1.0,1223.0,916.0,-0.251,31.0,651374.0,664844.0,0.41,36.0,56607.0,152368.0,0.317,53.4,Wichita KS,89.2,96.3,67.1,97.7,92.0,94.4,100.2,771.0,433.0,747.0,3620.0,2396.0,2914.0,0.0,0.0,47720.0,5993.0,14.0,94.0,102.0,102.0,97.0,64.0,0.9,2.9,43.0,21.0,3.5,0.0,92.0,69.0,POINT (-0.51287 -1.06674)
371,48700,4248700,"Williamsport, PA",PA,54983,8.7,0,None,None,0,0,0,0.34,6.00,6.34,1528.0,25.0,No,1.29 - 9.93%,3.69,10000.0,"Includes 5.4% surcharge, 0.00% interest tax fa...",3.07,1.0,No,No entity-level tax measured by net worth/capi...,9.99,Single factor sales,1.0,No,94.0,0.0,0.0,103.0,8.0,-0.922,NaN,113801.0,112104.0,-0.30,43.0,55725.0,161056.0,0.242,20.2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,99.0,514.0,0.0,0.0,0.0,0.0,6899.0,1862.0,3.0,88.0,96.0,106.0,98.0,46.0,2.8,9.9,35.0,20.0,4.1,0.0,85.0,62.0,POINT (14.47456 4.06272)
372,48900,3748900,"Wilmington, NC",NC,149333,5.5,0,None,None,0,0,0,2.22,4.75,6.97,974.0,41.0,No,0.06 - 5.76%,1.00,25200.0,None,5.25,1.0,No,"$1.50 per $1,000 of greatest of net worth; act...",2.50,Single factor sales,1.0,No,92.0,0.0,1.0,1868.0,1322.0,-0.292,87.0,304521.0,329709.0,1.60,40.0,53466.0,248976.0,0.388,44.3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,476.0,689.0,1856.0,944.0,0.0,0.0,0.0,34169.0,6310.0,4.0,80.0,88.0,77.0,86.0,65.0,3.9,0.2,56.0,34.0,7.2,0.0,90.0,71.0,POINT (15.19906 -2.90283)
373,49020,5149020,"Winchester, VA-WV",VA,72964,4.4,0,None,None,0,0,0,0.35,5.30,5.65,1652.0,16.0,No,0.11 - 6.21%,2.51,8000.0,Includes 0.01% pool cost charge,5.75,4.0,Yes,No entity-level tax measured by net worth/capi...,6.00,Three factors with sales double-weighted/Sales,1.0,No,101.0,0.0,0.0,605.0,682.0,0.127,NaN,148338.0,159926.0,1.52,41.0,66188.0,240226.0,0.280,41.3,Winchester VA-WV,97.4,95.8,92.5,100.3,94.2,102.2,101.3,1062.0,42.0,266.0,291.0,482.0,0.0,0.0,0.0,13933.0,1905.0,3.0,105.0,135.0,96.0,79.0,56.0,2.3,7.2,41.0,21.0,3.7,0.0,86.0,63.0,POINT (13.82719 1.81154)
374,49180,3749180,"Winston-Salem, NC",NC,321790,5.8,0,None,None,0,0,0,2.22,4.75,6.97,974.0,41.0,No,0.06 - 5.76%,1.00,25200.0,None,5.25,1.0,No,"$1.50 per $1,000 of greatest of net worth; act...",2.50,Single factor sales,1.0,No,92.0,1.0,2.0,3123.0,2217.0,-0.290,NaN,692388.0,719162.0,0.76,41.0,49636.0,165983.0,0.284,57.1,Winston-Salem NC,94.2,101.1,79.6,93.8,99.6,116.5,98.7,1242.0,232.0,643.0,1729.0,850.0,46.0,555.0,469.0,34620.0,6269.0,11.0,85.0,96.0,77.0,86.0,67.0,3.6,2.8,49.0,25.0,4.4,0.0,88.0,65.0,POINT (12.94261 -1.62004)
375,79600,None,"Worcester, MA-CT",MA,353672,7.4,0,None,None,0,0,0,0.00,6.25,6.25,2434.0,6.0,Yes,0.94 - 14.37%,2.42,15000.0,Plus 0.58% solvency assessment and 0.056% work...,5.00,1.0,No,Taxable net worth or tangible property is part...,8.00,Sales/three factors with sales double-weighted,1.0,No,118.0,1.0,3.0,1300.0,179.0,-0.862,100.0,966924.0,985568.0,0.38,41.0,71945.0,294706.0,0.367,48.2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,744.0,2167.0,5012.0,2126.0,3919.0,0.0,508.0,66551.0,11979.0,23.0,114.0,111.0,160.0,98.0,69.0,3.7,14.9,32.0,13.0,4.3,0.0,81.0,59.0,POINT (17.98092 5.77227)
376,49420,5349420,"Yakima, WA",WA,127152,8.5,0,None,None,0,0,0,2.71,6.50,9.21,1498.0,26.0,N/A,0.13 - 7.73%,NaN,52700.0,Includes employment administrative fund and so...,0.00,1.0,No,No entity-level tax measured by net worth/capi...,0.00,No state income tax,1.0,No,96.0,0.0,0.0,480.0,412.0,-0.142,NaN,259253.0,266728.0,0.57,33.0,53291.0,215361.0,0.178,82.4,Yakima WA,100.1,101.5,86.6,85.2,118.6,115.0,107.5,884.0,1.0,68.0,359.0,698.0,0.0,0.0,0.0,9374.0,1448.0,4.0,89.0,96.0,89.0,89.0,75.0,1.0,3.8,39.0,25.0,0.2,0.0,89.0,56.0,POINT (-16.43461 9.95818)
377,49620,4249620,"York-Hanover, PA",PA,230896,6.7,0,None,None,0,0,0,0.34,6.00,6.34,1528.0,25.0,No,1.29 - 9.93%,3.69,10000.0,"Includes 5.4% surcharge, 0.00% interest tax fa...",3.07,1.0,No,No entity-level tax measured by net worth/capi...,9.99,Single factor sales,1.0,No,94.0,0.0,0.0,788.0,98.0,-0.876,NaN,455952.0,466717.0,0.47,42.0,64620.0,187910.0,0.257,38.4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,236.0,1190.0,466.0,470.0,0.0,0.0,7282.0,1274.0,3.0,90.0,92.0,109.0,98.0,61.0,3.0,7.0,39.0,23.0,3.9,0.0,86.0,65.0,POINT (15.01040 2.70909)
378,49660,3949660,"Youngstown-Warren-Boardman, OH-PA",OH,229913,7.9,0,None,None,0,0,0,1.42,5.75,7.17,1316.0,30.0,N/A,0.30 - 9.40%,2.70,9000.0,None,4.80,5.0,Yes,No entity-level tax measured by net worth/capi...,0.00,None,1.0,No,98.0,0.0,0.0,366.0,203.0,-0.445,NaN,545175.0,533421.0,-0.43,45.0,49150.0,119046.0,0.234,33.4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,466.0,938.0,2779.0,1896.0,1369.0,0.0,0.0,23149.0,3392.0,10.0,96.0,106.0,113.0,103.0,51.0,2.6,12.7,34.0,17.0,4.5,0.0,83.0,59.0,POINT (11.92516 3.48979)
379,49700,0649700,"Yuba City, CA",CA,72521,10.2,0,None,None,0,0,0,1.41,7.25,8.66,1607.0,20.0,Yes,1.50 - 6.20%,3.40,7000.0,Plus 0.1% employment training tax assessed on ...,13.30,10.0,Yes,No entity-level tax measured by net worth/capi...,8.84,Single factor sales,1.0,No,112.0,0.0,0.0,NaN,NaN,NaN,NaN,177712.0,182437.0,0.53,35.0,55811.0,293279.0,0.184,78.7,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9319.0,838.0,1.0,125.0,106.0,210.0,97.0,75.0,8.4,6.6,53.0,34.0,0.0,0.0,91.0,57.0,POINT (-18.90112 3.07210)
380,49740,0449740,"Yuma, AZ",AZ,94419,11.1,0,None,None,0,0,0,2.80,5.60,8.40,1099.0,34.0,No,0.05 - 12.85%,2.00,7000.0,None,4.50,4.0,Yes,No entity-level tax measured by net worth/capi...,4.90,Sales/three factors with sales double-weighted,1.0,No,104.0,0.0,0.0,1011.0,1152.0,0.139,NaN,214176.0,222641.0,0.78,35.0,45722.0,157410.0,0.157,75.3,Yuma AZ,97.3,102.3,80.5,116.4,102.5,108.8,100.8,861.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11521.0,877.0,1.0,105.0,118.0,112.0,84.0,73.0,0.5,0.0,69.0,44.0,0.4,0.0,107.0,79.0,POINT (-14.41419 -4.57292)