In [1]:
import pandas as pd
import geopandas as gpd
import fiona

pd.set_option('display.max_columns', None)

In [2]:
pwd

'/Users/mmainza/Desktop/projects/city-comparison/data/processing'

In [20]:
msaGeo = gpd.read_file('../../../data/spatial/msa/us_msa_centroids.geojson')
msa = pd.read_excel('../../../data/geographies/cbsa.xlsx', converters={'FIPS State':str, 'CBSA Code':str})

In [21]:
msa = msa[['CBSA Code','CBSA Title','FIPS State']]
msa.drop_duplicates(subset='CBSA Code', inplace=True)

In [22]:
msaGeo = msaGeo[['GEOID','NAME','geometry']]

In [23]:
data = pd.merge(msaGeo,msa,how='left', left_on='GEOID', right_on='CBSA Code')

In [24]:
msaGeo.shape

(926, 3)

In [25]:
data.shape

(926, 6)

In [26]:
data.head()

,GEOID,NAME,geometry,CBSA Code,CBSA Title,FIPS State
0,12020,"Athens-Clarke County, GA",POINT (-83.21379 33.94901),12020,"Athens-Clarke County, GA",13
1,12060,"Atlanta-Sandy Springs-Alpharetta, GA",POINT (-84.39957 33.69277),12060,"Atlanta-Sandy Springs-Alpharetta, GA",13
2,12100,"Atlantic City-Hammonton, NJ",POINT (-74.63373 39.46883),12100,"Atlantic City-Hammonton, NJ",34
3,12120,"Atmore, AL",POINT (-87.16162 31.12612),12120,"Atmore, AL",01
4,12140,"Auburn, IN",POINT (-84.99908 41.39758),12140,"Auburn, IN",18

In [27]:
data['geoid'] = data['FIPS State']+data['CBSA Code']

In [29]:
data.rename(columns={'CBSA Code':'cbsa','NAME':'area'}, inplace=True)

In [31]:
data = data[['geoid','cbsa','area','geometry']]

In [37]:
crs = {'init': 'epsg:4326'}
data = gpd.GeoDataFrame(data, crs=crs, geometry=data['geometry'])

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [39]:
data.to_file('../../../data/spatial/msa/usMsaCentroids.geojson', driver="GeoJSON")

In [11]:
msa = gpd.read_file('../../../data/spatial/msa/usMsaCentroids.geojson')

In [13]:
data.head()

,MSA,STATE,Avg. Local Sales Tax,State Sales Tax,Total Sales Tax,Property Tax per Capita,Property Tax Rank,Property Tax Throw Back,Taxable Wages Rate,New Employers Rate,Taxable Wage Base,Payroll Tax Notes,Individual Tax Rate,Individual Tax Brackets,Graduated Individual Tax,Franchise Tax Rate,Corporate Tax Rate,Corporate Tax Brackets,Graduated Corporate Tax,CODB,Fortune 500,Fortune 1000,AIRPORT,CODE,NUMBER_AIRPORTS,NS_DOMESTIC,NS_INTERNATIONAL,NS_TOTAL
0,"Lafayette-West Lafayette, IN",IN,0.00,7.00,7.00,1041.0,35.0,No,0.50 - 7.40%,NaN,9500,NaN,3.23,1,No,No entity-level tax measured by net worth/capi...,5.5,1,No,94,0,1,NaN,NaN,0,0,0,0
1,"Madison, WI",WI,0.46,5.00,5.46,1655.0,14.0,Yes,0.00- 12.00%,NaN,14000,Includes solvency surtax,7.65,4,Yes,No entity-level tax measured by net worth/capi...,7.9,1,No,102,1,4,Madison,MSN,1,15,0,15
2,"Michigan City-La Porte, IN",IN,0.00,7.00,7.00,1041.0,35.0,No,0.50 - 7.40%,NaN,9500,NaN,3.23,1,No,No entity-level tax measured by net worth/capi...,5.5,1,No,94,0,0,NaN,NaN,0,0,0,0
3,"Milwaukee-Waukesha-West Allis, WI",WI,0.46,5.00,5.46,1655.0,14.0,Yes,0.00- 12.00%,NaN,14000,Includes solvency surtax,7.65,4,Yes,No entity-level tax measured by net worth/capi...,7.9,1,No,102,6,12,Milwaukee,MKE,1,33,2,35
4,"New Orleans-Metairie, LA",LA,5.07,4.45,9.52,901.0,44.0,No,0.09 - 6.20%,NaN,7700,Includes applicable social charge assessments,6.00,3,Yes,"$1.50 per $1,000 of first $300,000 and $3.00 p...",8.0,5,Yes,91,1,2,New Orleans,MSY,1,44,5,49